.TodoPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;

  h1 {
    margin-top: 0;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.2s;
    gap: 10px;
  }

  .title-input,
  .textarea {
    font-family: 'Raleway', sans-serif;
  }

  .title-input {
    flex: 1;
    font-size: inherit;
    background-color: transparent;

    &.completed {
      color: var(--success);
    }
  }

  .textarea {
    font-size: 1rem;
    width: 100%;
    background-color: var(--grey-dark);
  }

  .btn-container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;

    .btn {
      color: var(--white);
      padding: 5px 10px;
      border-radius: 5px;
      border: none;

      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .btn-check {
    background-color: var(--success-light);

    &:hover {
      background-color: var(--success);
    }

    &.completed {
      background-color: var(--warn-light);

      &:hover {
        background-color: var(--warn);
      }
    }
  }

  .btn-delete {
    background-color: var(--danger-light);

    &:hover {
      background-color: var(--danger);
    }
  }

  .btn-save {
    background-color: var(--success-light);

    &:hover {
      background-color: var(--success);
    }
  }

  .AddNewTodo {
    margin-top: auto;
    margin-bottom: 0;
  }
}
