.CircleLed {
  flex-shrink: 0; // Prevents shrinking from flex parent
  width: 20px;
  height: 20px;

  border-radius: 50%;
  background-color: var(--warn);
  --shadow-color: var(--warn);

  transition: background-color 0.2s;
  animation: shadow-grow 1.5s infinite alternate;

  &.completed {
    background-color: var(--success);
    --shadow-color: var(--success);
  }
}
