.ToggleTheme {
  color: var(--text-color);
  border: none;
  background-color: var(--theme-icon);
  border-radius: 50%;
  width: 32px;
  height: 32px;

  &:active {
    box-shadow: none;
  }

  .MoonIcon {
    color: var(--grey-dark);
    transform: translateY(2px);
  }
}
