.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;
  background-color: var(--grey-dark);
  transition: scale 0.2s, translate 0.2s, background-color 0.2s, opacity 0.5s;
  animation: slide-in 0.2s;

  &:hover {
    background-color: var(--grey-light);
    scale: 1.01;

    .todo-title.completed {
      color: var(--success);
    }

    .DateCompleted {
      color: var(--white);
    }

    .CheckBox::before {
      background-color: var(--success);
    }
  }

  .todo-link {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 16px 10px;
    flex: 1;
  }

  .todo-title {
    transition: transform 0.2s, color 0.2s;

    &.completed {
      transform: skew(-10deg);
      color: var(--success-light);
    }
  }

  .todo-actions {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 10px;
  }

  .btn-delete {
    display: grid;
    place-items: center;
    background-color: transparent;
    color: var(--grey);
    border: none;

    .CrossIcon {
      width: 20px;
      transition: background-color 0.2s;
    }

    &:hover .CrossIcon {
      color: var(--danger);
    }
  }

  .CheckBox::before {
    background-color: var(--success-light);
  }

  /*Drag and Drop*/
  &.dragging {
    opacity: 1;
    border: dashed 1px var(--white);
  }

  &.drag-over {
    opacity: 1;
    border: dashed 1px var(--success);
  }
}
