.Header {
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: var(--grey-dark);
  border-bottom: 1px solid var(--grey);

  font-size: 2.2rem;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;

  .header-link {
    position: relative;
    display: block;
    z-index: 1;
    font-family: 'Bruno Ace SC', sans-serif;
  }

  .header-link::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -8px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    z-index: -1;
    background-color: var(--grey-light);
    transition: width 0.3s;
    animation: scale 0.5s;
  }

  .header-link:hover::before {
    width: calc(100% + 24px);
  }

  .header-title {
    background: linear-gradient(
      90deg,
      var(--text-color) 0%,
      var(--grey) 50%,
      var(--text-color) 100%
    );
    background-clip: text;
    background-size: 200%;
    color: transparent;
    animation: wave 15s infinite linear;
  }

  @media screen and (max-width: 600px) {
    font-size: 1.5rem;

    .header-link::before {
      top: -14px;
      left: -14px;
      width: 60px;
      height: 60px;
    }

    .header-title {
      margin-left: 10px;
    }
  }
}
