.Header {
  border-bottom: solid var(--grey) 1px;
  background-color: var(--primary);
  font-size: 2rem;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 20px;

  .header-link {
    position: relative;
    display: block;
    z-index: 1;
  }

  .header-link::before {
    content: '';
    position: absolute;
    top: -6px;
    left: -10px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    z-index: -1;
    background-color: var(--grey-light);
    transition: width 0.3s;
    animation: scale 0.5s;
  }

  .header-link:hover::before {
    width: calc(100% + 24px);
  }
}

@keyframes scale {
  0% {
    scale: 0.5;
    background-color: var(--white);
  }
  100% {
    scale: 1;
  }
}
