.CheckBox {
  appearance: none;
  margin: 0;

  width: 20px;
  aspect-ratio: 1;

  border: 1px solid var(--grey);
  border-radius: 5px;

  cursor: pointer;
  transition: all 0.2s;

  display: grid;
  place-content: center;

  &::before {
    content: '';
    scale: 0;
    transition: 0.2s scale;
    box-shadow: 0 0 1px 5px var(--success);
  }

  &:checked::before {
    scale: 1;
  }

  &:checked {
    animation: pulse 0.5s;
  }
}
