.CheckBox {
  appearance: none;
  margin: 0;

  width: 20px;
  aspect-ratio: 1;

  border: 1px solid var(--grey);
  border-radius: 5px;

  cursor: pointer;
  transition: all 0.2s;

  display: grid;
  place-content: center;

  &::before {
    content: '';
    width: 11px;
    aspect-ratio: 1;
    border-radius: 2px;
    opacity: 0;
    scale: 0;
    transition:
      0.2s scale,
      0.2s opacity;
    background-color: var(--success);
  }

  &:checked::before {
    opacity: 1;
    scale: 1;
  }

  &:checked {
    animation: pulse 0.5s;
  }
}
