.Footer {
  display: grid;
  place-content: center;
  height: 60px;
  margin-top: 30px;

  border-top: solid var(--grey) 1px;
  background-color: var(--grey-dark);

  a {
    padding: 10px 6px;
    border-radius: 10px;
    transition: background-color 0.2s;
  }

  a:hover {
    background-color: var(--grey-light);
  }
}
