.ErrorPage {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  color: #575757;

  h1 {
    font-size: 7rem;
  }

  a {
    display: block;
    margin-top: 36px;
    text-decoration: underline;
    transition: color 0.2s;

    &:hover {
      color: var(--grey);
    }
  }
}
