.App {
  height: 100svh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main {
    position: relative;
    flex: 1;
    padding: 10px;
    width: min(100%, 900px);
    margin: auto;

    &::before {
      content: '🚀';
      position: absolute;
      inset: 0;
      display: grid;
      place-items: center;

      font-size: 30rem;
      opacity: 0.02;
      z-index: -1;
      overflow: hidden;
    }
  }
}
