@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: rgba(255, 255, 255, 0.87);
  --grey: #575757;
  --grey-light: #474747;
  --grey-dark: #333333;
  --danger: #551313;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  margin: 0;

  background-color: #242424;
  color: var(--white);

  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
  transition: all 0.2s;
}

textarea {
  resize: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
