@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.2s forwards;
}

@keyframes slide-out {
  from {
    translate: 0;
    opacity: 0.5;
  }
  to {
    translate: -100%;
    opacity: 0;
  }
}

.slide-out {
  animation: slide-out 0.3s forwards;
}

@keyframes slide-in {
  from {
    translate: -50%;
    opacity: 0;
  }
  to {
    translate: 0;
    opacity: 1;
  }
}
