.input,
.textarea {
  color: var(--text-color);
  background-color: var(--grey-dark);
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: inset 0 transparent;
  transition: box-shadow 0.3s;

  &:focus,
  &:hover {
    box-shadow: inset 0 0 0 1px var(--grey-light);
  }

  &:focus:invalid {
    box-shadow: inset 0 0 0 1px var(--danger);
  }
}
