:root {
  --white: rgba(255, 255, 255, 0.87);
  --grey: #575757;
  --grey-light: #474747;
  --grey-dark: #333333;
  --danger: #e2325d;
  --danger-light: #e2325d70;
  --success: #8BC34A;
  --success-light: #8BC34A70;
  --warn: #FFC107;
  --warn-light: #FFC10770;
}