@import './reset.scss';
@import './root.scss';
@import './fonts.scss';
@import './animations.scss';
@import './inputs.scss';

body {
  min-height: 100svh;
  margin: 0;

  background-color: #242424;
  color: var(--white);

  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Piste de la barre de défilement */
::-webkit-scrollbar-track {
  background: var(--grey-dark);
}

/* Poignée de la barre de défilement */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--grey);
}

.App {
  min-height: 100svh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main {
    flex: 1;
    display: flex;
    flex-direction: column;

    padding: 30px 10px;
    width: min(100%, 1200px);
    margin: auto;

    &::before {
      content: '🚀';
      position: absolute;
      inset: 0;
      display: grid;
      place-items: center;

      font-size: 30rem;
      opacity: 0.02;
      z-index: -1;
      overflow: hidden;
    }
  }
}
